<!DOCTYPE html>
<html>
  <head>
    <title>Bienvenido</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="background-color:<%= locals.bgColor ? bgColor : null %>">

    <% if (locals.name) {%>
      <div>
        <h1>Hola <%= name %>, elegiste el color: <%= color %>, tu email es:
          <%= email %> y tu edad es: <%= edad %></h1>
      </div>
      <% } else {%>  
    <div class= "formulario">
        <h1>Bienvenido</h1><br>
    <br>
    <form action="/" method="POST">
      <label for="name">Ingrese su Nombre</label>
      <input type="text" name="name" id="name"><br>
      <small><%= locals.errors && errors.name ? errors.name.msg : null %> </small><br>
      <select name="color" id="color">
        <option hidden selected value="">Seleccione un color</option>
        <option value="red">Rojo</option>
        <option value="green">Verde</option>
        <option value="blue">Azul</option>
      </select><br>
      <small><%= locals.errors && errors.color ? errors.color.msg : null %> </small><br>
      <label for="email">Ingrese su Email</label>
      <input type="text" name="email" id="email"><br>
      <small><%= locals.errors && errors.email ? errors.email.msg : null %> </small><br>
      <label for="edad">Ingrese su edad</label>
      <input type="text" name="edad" id="edad"><br>
      <small><%= locals.errors && errors.edad ? errors.edad.msg : null %> </small><br>
      <br>
      <label for="recordar">Recordar Color</label>
      <input type="checkbox" name="recordar" id="recordar">
      <br>
      <br>

      <input type="submit" value="Enviar datos"> <br>
      <br>


   <a href="/destroy" style="color:black">Olvidar Color</a> 
     
     
    </form>
    <% } %>
    </div>  
  </body>
</html>
